name: CI

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - '*'

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          # AGP 8.1.*
          - gradle: 8.5
            agp: 8.1.4
          - gradle: 8.4
            agp: 8.1.4
          - gradle: 8.3
            agp: 8.1.4
          - gradle: 8.2.1
            agp: 8.1.4
          - gradle: 8.1.1
            agp: 8.1.4
          - gradle: 8.0.2
            agp: 8.1.4

          # AGP 8.0.*
          - gradle: 8.5
            agp: 8.0.2
          - gradle: 8.4
            agp: 8.0.2
          - gradle: 8.3
            agp: 8.0.2
          - gradle: 8.2.1
            agp: 8.0.2
          - gradle: 8.1.1
            agp: 8.0.2
          - gradle: 8.0.2
            agp: 8.0.2

          # AGP 7.4.*
          - gradle: 8.5
            agp: 7.4.2
          - gradle: 8.4
            agp: 7.4.2
          - gradle: 8.3
            agp: 7.4.2
          - gradle: 8.2.1
            agp: 7.4.2
          - gradle: 8.1.1
            agp: 7.4.2
          - gradle: 8.0.2
            agp: 7.4.2
          - gradle: 7.6.3
            agp: 7.4.2
          - gradle: 7.5.1
            agp: 7.4.2

          # AGP 7.3.*
          - gradle: 7.6.3
            agp: 7.3.1
          - gradle: 7.5.1
            agp: 7.3.1
          - gradle: 7.4.2
            agp: 7.3.1

          # AGP 7.2.*
          - gradle: 7.6.3
            agp: 7.2.2
          - gradle: 7.5.1
            agp: 7.2.2
          - gradle: 7.4.2
            agp: 7.2.2
          - gradle: 7.3.3
            agp: 7.2.2

          # AGP 7.1.*
          - gradle: 7.6.3
            agp: 7.1.3
          - gradle: 7.5.1
            agp: 7.1.3
          - gradle: 7.4.2
            agp: 7.1.3
          - gradle: 7.3.3
            agp: 7.1.3
          - gradle: 7.2
            agp: 7.1.3
            jdk: 11

          # AGP 7.0.*
          - gradle: 7.6.3
            agp: 7.0.4
          - gradle: 7.5.1
            agp: 7.0.4
          - gradle: 7.4.2
            agp: 7.0.4
          - gradle: 7.3.3
            agp: 7.0.4
          - gradle: 7.2
            agp: 7.0.4
            jdk: 11
          - gradle: 7.1.1
            agp: 7.0.4
            jdk: 11
          - gradle: 7.0.2
            agp: 7.0.4
            jdk: 11

          # AGP 4.2.*
          - gradle: 7.6.3
            agp: 4.2.2
            jdk: 11
          - gradle: 7.5.1
            agp: 4.2.2
            jdk: 11
          - gradle: 7.4.2
            agp: 4.2.2
            jdk: 11
          - gradle: 7.3.3
            agp: 4.2.2
            jdk: 11
          - gradle: 7.2
            agp: 4.2.2
            jdk: 11
          - gradle: 7.1.1
            agp: 4.2.2
            jdk: 11
          - gradle: 7.0.2
            agp: 4.2.2
            jdk: 11
          - gradle: 6.9.4
            agp: 4.2.2
            jdk: 11
          - gradle: 6.8.3
            agp: 4.2.2
            jdk: 11
          - gradle: 6.7.1
            agp: 4.2.2
            jdk: 11

          # AGP 4.1.*
          - gradle: 7.5.1
            agp: 4.1.2
            jdk: 11
          - gradle: 7.4.2
            agp: 4.1.2
            jdk: 11
          - gradle: 7.3.3
            agp: 4.1.2
            jdk: 11
          - gradle: 7.2
            agp: 4.1.2
            jdk: 11
          - gradle: 7.1.1
            agp: 4.1.2
            jdk: 11
          - gradle: 7.0.2
            agp: 4.1.2
            jdk: 11
          - gradle: 6.9.2
            agp: 4.1.2
            jdk: 11
          - gradle: 6.8.3
            agp: 4.1.2
            jdk: 11
          - gradle: 6.7.1
            agp: 4.1.2
            jdk: 11
          - gradle: 6.6.1
            agp: 4.1.2
            jdk: 11
          - gradle: 6.5.1
            agp: 4.1.2
            jdk: 11

          # AGP 4.0.*
          - gradle: 6.9.2
            agp: 4.0.2
            jdk: 11
          - gradle: 6.8.3
            agp: 4.0.2
            jdk: 11
          - gradle: 6.7.1
            agp: 4.0.2
            jdk: 11
          - gradle: 6.6.1
            agp: 4.0.2
            jdk: 11
          - gradle: 6.5.1
            agp: 4.0.2
            jdk: 11
          - gradle: 6.4.1
            agp: 4.0.2
            jdk: 11
          - gradle: 6.3
            agp: 4.0.2
            jdk: 11
          - gradle: 6.2.2
            agp: 4.0.2
            jdk: 11
          - gradle: 6.1.1
            agp: 4.0.2
            jdk: 11

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Publish plugin to local Maven repo
        run: ./gradlew :prefiller:publishToMavenLocal -PexcludeSample --stacktrace

      - name: Run tests
        env:
          GRADLE_VERSION: ${{ matrix.gradle }}
          AGP_VERSION: ${{ matrix.agp }}
          TEST_JDK_VERSION: ${{ matrix.jdk || '17' }}
        run: ./gradlew test --stacktrace
